In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

master_set_ori = pd.read_excel('C:\hmkd1\m4_db\dataset/마스터셋.xlsx', index_col=0)
master_set_ori.head(2)

,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,가공8Q,신선1Q,신선2Q,...,TOTAL7Q,TOTAL8Q,VIS1Q,VIS2Q,VIS3Q,VIS4Q,VIS5Q,VIS6Q,VIS7Q,VIS8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,169232.914472,4.272196e+05,7.103911e+05,...,7.993153e+06,5.121119e+06,77,82,100,119,111,74,68,50
2,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,571607.110467,1.932198e+06,1.684548e+06,...,1.417343e+07,1.160506e+07,103,85,95,72,95,71,81,74

In [4]:
columns_to_check = ['TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q']
master_set = master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

In [5]:
master_set

,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,가공8Q,신선1Q,신선2Q,...,TOTAL7Q,TOTAL8Q,VIS1Q,VIS2Q,VIS3Q,VIS4Q,VIS5Q,VIS6Q,VIS7Q,VIS8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,4.661507e+05,169232.914472,4.272196e+05,7.103911e+05,...,7.993153e+06,5.121119e+06,77,82,100,119,111,74,68,50
2,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,4.505977e+05,571607.110467,1.932198e+06,1.684548e+06,...,1.417343e+07,1.160506e+07,103,85,95,72,95,71,81,74
3,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,1.834930e+05,116251.534071,8.385065e+04,1.073681e+05,...,4.310791e+05,2.495811e+05,56,72,94,74,37,57,53,47
4,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,4.507093e+05,539135.587308,1.950669e+05,4.455169e+05,...,2.177949e+06,1.556994e+06,45,92,56,49,66,68,79,78
6,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,3.982866e+05,333882.296491,5.569818e+05,4.320898e+05,...,3.602174e+06,3.098129e+06,90,108,92,106,113,87,110,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,4.465895e+05,751181.614150,582322.312525,402644.953186,4.096896e+05,220131.675420,2.038686e+05,308353.761310,6.528749e+04,1.397939e+05,...,2.580329e+05,5.032506e+05,86,139,66,72,96,66,38,72
19334,2.270100e+05,890263.391731,977368.303118,911479.909816,7.275946e+05,312117.244152,3.923583e+04,82551.933652,5.147976e+05,1.486260e+06,...,4.965093e+05,4.505303e+05,22,104,111,112,77,45,11,13
19335,1.919501e+05,510411.776902,674811.146401,568454.723168,5.512122e+05,454727.566021,3.045538e+05,273246.223496,1.039869e+05,3.302448e+05,...,1.590776e+06,1.944853e+06,27,90,83,65,91,80,74,71
19336,6.328580e+04,538354.467983,787583.427627,573521.750605,4.711052e+05,226317.692344,5.283321e+05,308083.004119,0.000000e+00,0.000000e+00,...,6.473246e+06,4.785334e+06,8,77,79,75,61,32,50,50
19337,1.670098e+04,49307.081239,337825.371960,365879.994565,3.757620e+05,573448.798142,1.028384e+06,711714.287073,0.000000e+00,2.308440e+04,...,1.245543e+06,1.071415e+06,4,3,88,74,87,131,179,137